#textdomain wesnoth-Archaic_Resources

#define BASE
units/monsters/owl/great-owl#enddef

[unit_type]
    id=AR_Fire_Owl
    name= _ "Fire Owl"
    race=owl
    image="{BASE}.png"
    hitpoints=34
    profile=portraits/owl_flame.png
    image_icon={BASE}.png~CS(55,-30,-35)
    movement_type=smallfly
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_STRONG}
    {TRAIT_RESILIENT}
    [trait]
        id=fire_owl
        availability="musthave"
        male_name= _ "elemental"
        female_name= _ "female^elemental"
        description= _ "Immune to drain, poison, and plague"
        [effect]
            apply_to=status
            add=unpoisonable
        [/effect]
        [effect]
            apply_to=status
            add=undrainable
        [/effect]
        [effect]
            apply_to=status
            add=unplagueable
        [/effect]
        [effect]
            apply_to=image_mod
            #            add="~SCALE(90,90)~CS(55,-30,-35)"
            # I think this looks better, though still a cheap trick
            add="~SCALE_SHARP(90,90)~CS(55,-30,-35)"
        [/effect]
        [effect]
            apply_to=halo
            halo=halo/firewheel-static.png
        [/effect]
    [/trait]
    movement=8
    experience=60
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=35
    [movement_anim]
        start_time=0
        [frame]
            duration=150
            image="{BASE}-s3.png"
        [/frame]
    [/movement_anim]
    [standing_anim]
        start_time=0
        layer=60
        [frame]
            image="{BASE}-s[0,1,2,1,3,4].png:[90,90,90,100,120,100]"
        [/frame]
    [/standing_anim]
    usage=scout
    description= _ "..."
    {DEFENSE_ANIM "{BASE}.png" "{BASE}.png" {SOUND_LIST:GRYPHON_HIT}}
    die_sound={SOUND_LIST:GRYPHON_DIE}
    #    [abilities]
    #        {ABILITY_SKIRMISHER}
    #    [/abilities]
    [resistance]
        cold=120
        fire=30
        impact=80
    [/resistance]
    [attack]
        name=talons
        description=talons
        icon=attacks/claws-flaming.png
        type=fire
        range=melee
        damage=10
        number=3
        [specials]
            [berserk]
                id=fo_berserk
                name= _ "flaming owl fury"
                description= _ "When used offensively, this attack presses the engagement until one of the combatants is slain, or 6 rounds of attacks have occurred."
                value=6
                active_on=offense
            [/berserk]
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=talons
        [/filter_attack]
        start_time=-200
        offset="0~0.6:150,0.6~0:150"
        [if]
            hits=yes
            {FIRE_BURST_SMALL}
        [/if]
        [frame]
            duration=50
            image="{BASE}.png:400"
            #            image="{BASE}-s[1,2,3].png:[100,200,100]"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]

#undef BASE
