#textdomain wesnoth-Archaic_Resources

[unit_type]
    id=AR_Big_Owl
    name= _ "Terror Owl"
    race=owl
    image="units/monsters/terror-owl.png"
    image_icon=units/monsters/terror-owl.png~SCALE(72,72)
    profile=portraits/owl_terror.png
    hitpoints=72
    movement_type=snow_foot
    movement=6
    experience=80
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=25
    #    [movement_anim]
    #        [frame]
    #            begin=0
    #            end=150
    #            image="units/monsters/grey-wolf-moving.png"
    #        [/frame]
    #    [/movement_anim]

    usage=scout
    undead_variation=saurian
    description= _ "The northlands are home to some odd animals.  Giant, flightless, owl-like beasts have been given the moniker 'terror-owls'.  They often lurk around wolf-packs, probably to hunt and feed off whatever prey was wounded by the wolves.  Instead of wings, they have small, vicious claws, that they can use to scrape flesh from bone."
    {DEFENSE_ANIM "units/monsters/terror-owl.png" "units/monsters/terror-owl.png" gryphon-hit-1.ogg}
    die_sound=gryphon-die-1.ogg
    [attack]
        name=claws
        description=claws
        icon=attacks/claws.png
        type=blade
        range=melee
        damage=6
        number=4
    [/attack]
    [attack]
        name=beak
        description=beak
        icon=attacks/beak.png
        type=pierce
        range=melee
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
        damage=10
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=melee
        [/filter_attack]
        start_time=-200
        offset="0~0.7:100,0.7~0:200"
        [frame]
            image="units/monsters/terror-owl.png"
        [/frame]
        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
